/* About Section */

.about-section{

    background:#f7f9fc;

    color:#333;

}

.section-title{

    font-size:42px;

    font-weight:bold;

    color:#232F3E;

}

.section-subtitle{

    color:#777;

}

.about-card{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    height:100%;

    transition:.3s;

}

.about-card:hover{

    transform:translateY(-8px);

}

.about-card h3,

.about-card h4{

    color:#232F3E;

}

.about-card li{

    margin-bottom:18px;

    font-size:18px;

}